


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-top: 3rem;
  padding-top: 3rem;
  min-height: 100vh;
}

.nav {
  display: inherit;
  background-color: rgba(var(--callout-rgb), 11);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  padding: 14px;
}
.nav a {
  padding: 15px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.nav {
  display: inherit;
  background-color: rgba(var(--callout-rgb), 11);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  padding: 14px;
}
.nav a {
  padding: 15px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.menu_icon{
  display: none;
}
.hide{
  display: none;
}

.button{
    --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  cursor: pointer;
}

.buttontop{
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.4em 1em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;

}
.button:hover .buttontop {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}
@media (max-width:700px){
  .lgnav{
    display: none;
  }
  .menu_icon{
    display: block;
    margin:0px 10px;
  }
  .menu_icon:hover{
    cursor:pointer;
  }
  .smnav{
    display: flex;
    flex-direction:column;
    position: absolute;
    top:60px;
    background-image:linear-gradient(#050505,#17181B);
    padding-right:20px;
    border-radius:10px;
    /* box-shadow: 1px 1px 1px 1px grey,1px 1px 1px 1px grey; */
  }
  .hide{
    display: none;
  }
}
@media (max-width:1110px) and (min-width:701px){
  .lgnav{
    display: none;
  }
  .menu_icon{
    display: block;
    margin:0px 10px;
  }
  .menu_icon:hover{
    cursor:pointer;
  }
  .smnav{
    display: flex;
    flex-direction:column;
    position: absolute;
    top:106px;
    background-image:linear-gradient(#050505,#17181B);
    padding-right:20px;
    border-radius:10px;
    z-index:999;
    height:fit-content;
    max-height: 9999px;
  }

  .btn:hover{
    border-radius: 5px;
 transform: translateY(-10px);
 box-shadow: 0 7px 0 -2px #f85959,
  0 15px 0 -4px #39a2db,
  0 16px 10px -3px #39a2db;


  }
  .hide{
    height:0px;
    max-height: 0;
    overflow: hidden;
  }
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  margin-top: 20px;
  margin-top: 20px;
  font-family: var(--font-mono);
  
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
@media (max-width:400px){
  .description p {
    padding: 1rem!important;
    font-size:1rem;
  }
}
.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  width: 190px;
 height: 154px;
  /* padding: 1rem 1.2rem; */
  border-radius: var(--border-radius);
  /* background: rgba(var(--card-rgb), 0); */
  /* border: 1px solid rgba(var(--card-border-rgb), 0); */
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  /* transition: background 200ms, border 200ms; */
  margin-bottom: 20px;
}
.card2{
  width: 200px;
  height: 154px;
  background-color: #1a1a1a;
  padding: 1rem 1.2rem;
  

}
.card2:hover {
  transform: scale(0.98);

  border-radius: 20px;
 }
 .card:hover{
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 }

.card2 span {
  display: inline-block;
  transition: transform 200ms;
}

.card2 h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card2 p {
  margin: 0;
  opacity: 0.7;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 200px;
  /* margin: -40px; */
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}


.author {
  position: relative;
}

.author::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #00ff00, #ffff00, #ff0000);
  animation: glowing 2s infinite;
  opacity: 0.5;
}

.search {
  margin-bottom: 1px;
  padding-bottom: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: center;
  padding: 6rem;
  padding-top: 3rem;
  min-height: 100vh;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-top: 3rem;
  min-height: 100vh;
}

@keyframes glowing {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .author{
    visibility: hidden;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  /* .card {
    padding: 1rem 2.5rem;
  }
  .card2 {
    padding: 1rem 2.5rem;
  } */

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: inherit;
    position: fixed;
    border-radius: 0%;
    width: 100%;
    border-bottom: 2px solid rgba(var(--callout-border-rgb), 0.5);
    z-index: 1;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    backdrop-filter: blur(24px);
  }
  .nav {
    margin: 20px;
    display: flex;
    justify-content: inherit;
    position: fixed;
    border-radius: 0%;
    width: 100%;
    border-bottom: 2px solid rgba(var(--callout-border-rgb), 0.5);
    z-index: 1;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    backdrop-filter: blur(24px);
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: stretch;
    /* pointer-events: none; */
    /* inset: auto 0 0; */
    padding: 2rem;
    height: 200px;
    margin-top: 30px;
    /* background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    ); */
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 600px) {
  .author{
    position: relative;
  }
  .author::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #00ff00, #ffff00, #ff0000);
    animation: glowing 2s infinite;
    opacity: 0.5;
  }
 
  .search {
    margin-bottom: 1px;
    padding-bottom: 10px;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    padding: 6rem;
    padding-top: 3rem;
    min-height: 100vh;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    padding-top: 3rem;
    min-height: 100vh;
  }
  
  @keyframes glowing {
    0% {
      opacity: 0.5;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.5;
    }  
  }
}

.horizontalIconList {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top:30px;
}
.fir_two{
  display: flex;
  flex-direction: row;
}
.las_two{
  display: flex;
  flex-direction: row;
}
@media (max-width:680px){
  .horizontalIconList{
    display: flex;
    flex-direction: column;
    margin:20px;
    margin-top:-70px;
    margin-bottom: 0px;
  }
  .fir_two{
    display: flex;
    flex-direction: row;
    margin:10px;
    width:max-content
  }
  .las_two{
    display: flex;
    flex-direction: row;
    margin:10px;
    width:max-content;
  }
}
.horizontalIconList li {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the spacing between items */
}

@media (max-width:680px){
  .horizontalIconList li{
    margin:10px;
  }
}

.horizontalIconList li span {
  margin-left: 10px; /* Adjust the spacing between icon and label */
}
