.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(var(--background-start-rgb), 0.9);
    z-index: 100;
}

.logo a {
    color: var(--text-primary);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: var(--font-primary);
}

.navLinks {
    list-style: none;
    display: flex;
}

.navLinks li:not(:last-child) {
    margin-right: 1.5rem;
}

.navLinks a {
    color: var(--text-secondary);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-family: var(--font-primary);
}

.navLinks a:hover {
    color: var(--text-primary);
}