name: Assign issue to contributor
on: 
  issue_comment:

jobs:
  assign:
    name: Take an issue
    runs-on: ubuntu-latest
    steps:
    - name: take the issue
      uses: bdougie/take-action@main
      env:
        GITHUB_TOKEN: ${{ secrets.TEST_GITHUB_TOKEN }}
      with:
        message: Thanks for taking this issue! Let us know if you have any questions!
        trigger: .take
